@model FH_Kiel_Ticketing_App.Models.StudentUserViewModel

@{
    ViewBag.Title = "Student - Home";
}

<h2>Home</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Your on going ticket</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Available Ideas</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>


