@model FH_Kiel_Ticketing_App.Models.StudentNotificationViewModel

@{
    ViewBag.Title = "Notifications";
}

<h2>Your Notification</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Test" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<h4>Unread Notifications</h4>
<table class="table table-striped table-hover ">
    <tbody>
        @if (Model.unreadNotifications.Count == 0)
        {
            <tr>
                <td>No new notifications</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.unreadNotifications)
            {
                <tr class="info">
                    <td>@item.message</td>
                    <td><a href="@item.url">Check it out</a></td>
                </tr>
            }
        }
    </tbody>
</table>

<h4>Previous Notifications</h4>
<table class="table table-striped table-hover ">
    <tbody>
        @foreach (var item in Model.readNotifications)
        {
            <tr>
                <td>@item.message</td>
                <td><a href="@item.url">Check it out</a></td>
            </tr>
        }
    </tbody>
</table>

