@model FH_Kiel_Ticketing_App.Models.StudentNotificationViewModel

@{
    ViewBag.Title = "Notifications";
}

<h2>Your Notification</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Test" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<table class="table table-striped table-hover ">
    <tbody>
        @foreach (var item in Model.notifications)
        {
            <tr>
                <td>@item.message</td>
                <td><a href="@item.url">Click Here</a> to view</td>
            </tr>
        }
    </tbody>
</table>

