@model FH_Kiel_Ticketing_App.Models.ViewModelBase
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin - Home";
}

<h2>Home Page</h2>
<hr />

<div>
    <a href="/Fields/Index" class="btn btn-link">Change Fields</a>
    <hr />
    <a href="/RoleIdentifiers/Index" class="btn btn-link">Change Role</a>
    <hr />
    <a href="/RoleIdentifierDetails/Index" class="btn btn-link">Change Role Identifiers</a>
</div>