
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Intrest to start a Project or Thesis?</h2>

<div class="row">
    <div class="col-sm-4">
        <a  class="btn btn-primary"> Start a Thesis</a>
        <a href="/Proposal/Index" class="btn btn-primary"> Start a Project</a>
    </div>
</div>
